* {
  color: #393939;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 16px;
  font-weight: 300;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card-image {
  width: 50%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}

.space-between {
  justify-content: space-between;
}

.details {
  background-color: white;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0px 8px 8px 0px;
  white-space: nowrap;
  padding: 12px;
  /* word-break: break-word; */
}

.hcenter {
  display: flex;
  align-items: center;
}

.mright {
  margin-right: 8px;
}

.mbottom {
  margin-bottom: 8px;
}

.hstart {
  display: flex;
  align-items: start;
}

.name {
  width: 40%;
  position: absolute;
  left: 8px;
  bottom: 8px;
  white-space: normal;
}

@media screen and (min-width: 600px) {
  .name {
    position: static;
    width: 100%;
  }

  .card {
    flex-direction: column;
    width: 250px;
  }

  .details {
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-radius: 0px 0px 8px 8px;
  }

  .card-image {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
}
